* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

body {
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
}

li {
    text-decoration: none;
    display: inline;
    margin: 20px;
}

main {
    text-align: center;
    padding: 50px 0px;
    background-color: beige;
    height: calc(100% - 170px)
}

h1 {
    margin-bottom: 150px;
}

aside {
    float: right;
    width: 1000px;
    font-size: 30px;
    margin-top: 100px;
    line-height: 40px;
    margin-right: 300px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer button {
    background-color: orange;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
